extends layout
	
block content
	title= title
	.wrapper
		h1 NYPL Locations Near You
		.description 
		
		.app
			#infobox.infobox
			#map To get this app to work you need to share your geolocation

		include locations