extends layout
	
block content
	title= title
	.wrapper
		h1 NYPL Locations Near You
		.description 
		
		.app
			#infobox.infobox
			#map To get this app to work you need to share your geolocation

		each l in location
			.locations(data-name="#{l['name']}", data-lat="#{l['latitude']}", data-long="#{l['longitude']}")